#fx-snow{
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: 2;
    opacity: 1;
  }
  
  #fx-dust{
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none !important;
    z-index: 1;
  }
  
  @property --card-angle {
    syntax: "<angle>";
    inherits: false;
    initial-value: 0deg;
  }
  @keyframes projectBorderFlow{
    to { --card-angle: 360deg; }
  }
  
  @property --led-angle {
    syntax: "<angle>";
    inherits: false;
    initial-value: 0deg;
  }
  @keyframes ledFlow{
    to { --led-angle: 360deg; }
  }
  